.gallery {
   /* margin-top:100px; */
     
   
    grid-row: 1 / -1;
  
     @media (min-width: $bp-large) {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
     }
    
   
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(4, 30vw);
  
     padding:0;
     &__description{
         grid-row: 1 /2;
           grid-column: 1 / 4;
        text-align:center;
        font-size:28px;
        margin-top:50px;
        color:#3C5A72;
        font-family:$font-primary;
        &--1{
           font-size:18px;
           margin-top:140px;
           font-family:$font-display;
           color:#727578;
        }
        &--2{
           font-size:18px;
           margin-top:180px;
           font-family:$font-display;
           margin-left:400px;
        }
       &--3{
          background-size:cover;
            position: relative;
            top:250px;
            z-index: -1;
           /* margin-top:360px; */
       }
     }
  
  
     &__item {
        padding: 0;
        margin: 0;
  
        &:hover {
           /* transform: translateY(-.075rem); */
        }
  
        &--1 {
           
           grid-row: 2 /3;
           grid-column: 1 / 3;
           background:url("../../img/Group 7.png");
           background-size:cover;
            background-position:center center;
 
           
        }
        &--1:hover {
       
           background:url("../../img/64666953_335788127113812_6751370409544777728_n.png");
           transition:0.5s ease;
       background-position:center center;
     background-size: cover;
 
 
          
        }
  
        &--2 {
           background-color:#98add8;
           grid-row: 2 /3;
           grid-column: 3/4;
           background:url("../../img/IMG_4085.png");
                background-position:center center;
     background-size: cover;
      transition:0.5s;
 
 
        }
         &--2:hover {
           background-color:#98add8;
           transition:0.5s;
           opacity:0.5;
        }
  
        &--3 {
           background-color:#517390;
           grid-row: 3/4;
           grid-column: 1 /2;
            background:url("../../img/UNADJUSTEDNONRAW_thumb_49.png");
                background-position:center center;
     background-size: cover;
        }
         &--3:hover {
           background-color:#ffc37d;
           transition:0.5s;
           opacity:0.5;
        }
  
        &--4 {
           background-color:#f2dac9;
           grid-row: 3 / 4;
           grid-column:2/ 3;      
           background:url("../../img/Group 9.png");
                background-position:center center;
     background-size: cover;
        }
        &--4:hover {
           background-color:#f2dac9;
               transition:0.5s;
           background:url("../../img/64666953_335788127113812_6751370409544777728_n.jpg");
                background-position:center center;
     background-size: cover;
        }
  
        &--5 {
           background-color:#ffc37d;
           grid-row: 3/ 4;
           grid-column: 3/ 4;
                 background:url("../../img/IMG_2570 2.png");
                background-position:center center;
     background-size: cover;
        }
        &--5:hover {
           background-color:#98add8;
           transition:0.5s;
           opacity:0.5;
        }
  
        &--6 {
           background-color:#e1c888;
           grid-row: 4/ 5;
           grid-column: 1 / 2;
                 background:url("../../img/Group 10.png");
                background-position:center center;
     background-size: cover;
        }
  
        &--7 {
           background-color:#b9c4d7;
           grid-row: 4/ 5;
           grid-column: 2/ 3;
                 background:url("../../img/UNADJUSTEDNONRAW_thumb_29.png");
                background-position:center center;
     background-size: cover;
        }
       &--7:hover {
           background-color:#98add8;
           transition:0.5s;
           opacity:0.5;
        }
        &--8 {
           background-color:#5e6d81;
           grid-row: 4 / 5;
           grid-column: 3 / 4;
        }
  
        
     }
  
     &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
     }
  }